<!--
@Author: Justin Schieck
@Date:   2017-02-01T13:42:44-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-10T17:13:42-05:00
-->


<footer>
  &copy 2017 Justin Schieck Web Programming
</footer>
<script src="/javascripts/jquery-3.1.1.min.js"/></script>
<script src="/javascripts/bootstrap.min.js"/></script>
  </body>
</html>
