<!--
@Author: Justin Schieck
@Date:   2017-02-03T13:08:48-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-12T15:58:39-05:00
-->

<% include ./partials/header.ejs %>
  <h1>Contact Information</h1>

  <div class="row">
              <div class="col-md-6">
                  <div class="contact" class="form-container">
                      <fieldset>
                          <div id="message"></div>
                          <form method="post" action="js/contact-form.php" name="contactform" id="contactform">
                              <div class="form-group">
                                  <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control" />
                              </div>
                              <div class="form-group">
                                  <input name="email" id="email" type="text" value="" placeholder="Email" class="form-control" />
                              </div>
                              <div class="form-group">
                                  <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control" />
                              </div>
                              <div class="form-group">
                                  <textarea name="comments" id="comments" class="form-control" rows="3" placeholder="Message" id="textArea"></textarea>
                                  <div class="editContent">
                                      <p class="small text-muted"><span class="guardsman">* All fields are required.</span> Once we receive your message we will respond as soon as possible.</p>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <button class="btn " type="submit" id="cf-submit" name="submit">Send</button>
                              </div>
                          </form>
                      </fieldset>
                  </div>
                  <!-- /.form-container -->
              </div>
              <div class="row">
                <a href="https://www.facebook.com/justin.s.schieck" target="_blank">
                  <div class="col-sm-4 col-xs-12 contact-section contact-facebook text-center">
                    <i class="fa fa-facebook-square fa-5x"></i>
                    <p>Facebook</p>
                  </div>
                </a>
                <a href="https://twitter.com/darkhollow20" target="_blank">
                  <div class="col-sm-4 col-xs-12 contact-section contact-twitter text-center">
                    <i class="fa fa-twitter fa-5x"></i>
                    <p>@Darkhollow20</p>
                  </div>
                </a>
                <a href="www.linkedin.com/in/justinschieck" target="_blank">
                  <div class="col-sm-4 col-xs-12 contact-section contact-linkedin text-center">
                    <i class="fa fa-linkedin fa-5x"></i>
                    <p>Linkedin</p>
                  </div>
                </a>
              </div>
              <div class="row">
                <a href="https://github.com/JustinSchieck" target="_blank">
                  <div class="col-sm-4 col-xs-12 contact-section contact-github text-center">
                    <i class="fa fa-github-square fa-5x"></i>
                    <p>Github</p>
                  </div>
                </a>
                <a href="https://www.freecodecamp.com/justinschieck" target="_blank">
                  <div class="col-sm-4 col-xs-12 contact-section contact-freecodecamp text-center">
                    <i class="fa fa-code fa-5x"></i>
                    <p>freecodecamp</p>
                  </div>
                </a>
                <a href="mailto:jaysdesign1@mac.com" target="_blank">
                  <div class="col-sm-4 col-xs-12 contact-section contact-email text-center">
                    <i class="fa fa-envelope fa-5x"></i>
                    <p>Schieck91@gmail.com</p>
                  </div>
                </a>
              </div>







  <% include ./partials/footer.ejs %>
</body>

</html>
