<!--
@Author: Justin Schieck
@Date:   2017-02-06T21:15:00-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-13T17:38:25-05:00
-->



<% include ./partials/header.ejs %>

<div id="home" class="jumbotron jumbotron-header">
 <div class="container">
   <div class="page-header">
    <!-- Header for center of banner -->

     <h1 class="text-center">&lt;Justin Schieck/&gt;</h1>
     <p class="text-center">Innovator // Developer // Programmer</p>
   </div>
 </div>
</div>
    <% include ./partials/footer.ejs %>
