<!--
@Author: Justin Schieck
@Date:   2017-02-03T13:08:39-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-11T13:23:53-05:00
-->



<% include ./partials/header.ejs %>
<section class="content-block gallery-1 gallery-1-2">
            <div class="container">
                <div class="underlined-title">
                  <h1>Services</h1>
                  <hr>
                </div>


    <div class="row" >
        <div class="isotope-gallery-container">
            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                <div class="gallery-item">
                    <div class="gallery-thumb">
                        <img src="/images/HTML5_logo1.png" class="img-responsive" alt="1st image">
                        <div class="image-overlay"></div>
                        <a href="http://placehold.it/800x600" class="gallery-zoom"><i  alt="This is the title"></i></a>
                        <a href="#" class="gallery-link" target="_blank"></a>
                    </div>
                    <div class="gallery-details">
                        <h5>HTML5</h5>
                    </div>
                </div>
            </div>
            <!-- /.gallery-item-wrapper -->
            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                <div class="gallery-item">
                    <div class="gallery-thumb">
                        <img src="/images/CSS.3.svg1.png" class="img-responsive" alt="2nd image">
                        <div class="image-overlay"></div>
                        <a href="http://placehold.it/800x600" class="gallery-zoom"></a>
                        <a href="#" class="gallery-link"></a>
                    </div>
                    <div class="gallery-details">
                        <h5>CSS3</h5>
                    </div>
                </div>
            </div>
            <!-- /.gallery-item-wrapper -->
            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                <div class="gallery-item">
                    <div class="gallery-thumb">
                        <img src="/images/nodejs_logo1.png" class="img-responsive" alt="3rd image">
                        <div class="image-overlay"></div>
                        <a href="http://placehold.it/800x600" class="gallery-zoom"></i></a>
                        <a href="#" class="gallery-link"></a>
                    </div>
                    <div class="gallery-details">
                        <h5>NODE JS</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                <div class="gallery-item">
                    <div class="gallery-thumb">
                        <img src="/images/java-eps-logo1.png" class="img-responsive" alt="4th image">
                        <div class="image-overlay"></div>
                        <a href="http://placehold.it/800x600" class="gallery-zoom"></i></a>
                        <a href="#" class="gallery-link"></a>
                    </div>
                    <div class="gallery-details">
                        <h5>JAVA</h5>
                  </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                <div class="gallery-item">
                    <div class="gallery-thumb">
                        <img src="/images/c-sharp-tutors-online.png" class="img-responsive" alt="5th image">
                        <div class="image-overlay"></div>
                        <a href="http://placehold.it/800x600" class="gallery-zoom"></i></a>
                        <a href="#" class="gallery-link"></a>
                    </div>
                    <div class="gallery-details">
                        <h5>C#</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                <div class="gallery-item">
                    <div class="gallery-thumb">
                        <img src="/images/C++1.png" class="img-responsive" alt="6th image">
                        <div class="image-overlay"></div>
                        <a href="http://placehold.it/800x600" class="gallery-zoom"></i></a>
                        <a href="#" class="gallery-link"></a>
                    </div>
                    <div class="gallery-details">
                        <h5>C++</h5>
                      </div>
                  </div>
              </div>

              <!-- /.gallery-item-wrapper -->
          </div>
          <!-- /.isotope-gallery-container -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
  </section>
  <% include ./partials/footer.ejs %>
</body>

</html>
