<!--
@Author: Justin Schieck
@Date:   2017-02-03T13:08:39-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-06T21:57:38-05:00
-->



<% include ./partials/header.ejs %>
  <h1>Services</h1>
  <p>
    -list programs
    -codeing types
    -html
    -css
    -java
    -js
    -c++/c#
  <% include ./partials/footer.ejs %>
</body>

</html>
